{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first django page</title>
</head>
<body>
    <main>
        <h1>{{ books.count|apnumber|title }} book{{ books.count|pluralize }}</h1>

        {% for book in books %}
            <h2>{{ book.title }} by {{ book.list_authors }}</h2>
            {% if book.is_favourite %}
                <span class="highlight">favourite</span>
            {% endif %}
            {{ book.review }}
        {% endfor %}
    </main>
</body>
</html>